In [7]:
import json

In [8]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

In [10]:
record = json.loads(r)

In [11]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 5},
 '1010': {'name': 'fruit', 'pr': 1200, 'qn': 5},
 '1011': {'name': 'sweep', 'pr': 500, 'qn': 7},
 '1012': {'name': 'soap', 'pr': 350, 'qn': 10},
 '1013': {'name': 'brush', 'pr': 520, 'qn': 10},
 '1014': {'name': 'matress', 'pr': 3000, 'qn': 2},
 '1015': {'name': 'blanket', 'pr': 1500, 'qn': 1},
 '1016': {'name': 'shoes', 'pr': 1600, 'qn': 1},
 '1017': {'name': 'flour', 'pr': 299, 'qn': 1},
 '1018': {'name': 't-shirt', 'pr': 600, 'qn': 7},
 '1019': {'name': 'bottle', 'pr': 300, 'qn': 1},
 '1020': {'name': 'earphone', 'pr': 499, 'qn': 2},
 '1021': {'name': 'iron', 'pr': 1600, 'qn': 1}}

ADD ITEMS IN INVENTORY

In [20]:

prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1030
Enter name:backcover
Enter price:500
Enter quantity:60

In [21]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 5},
 '1010': {'name': 'fruit', 'pr': 1200, 'qn': 5},
 '1011': {'name': 'sweep', 'pr': 500, 'qn': 7},
 '1012': {'name': 'soap', 'pr': 350, 'qn': 10},
 '1013': {'name': 'brush', 'pr': 520, 'qn': 10},
 '1014': {'name': 'matress', 'pr': 3000, 'qn': 2},
 '1015': {'name': 'blanket', 'pr': 1500, 'qn': 1},
 '1016': {'name': 'shoes', 'pr': 1600, 'qn': 1},
 '1017': {'name': 'flour', 'pr': 299, 'qn': 1},
 '1018': {'name': 't-shirt', 'pr': 600, 'qn': 7},
 '1019': {'name': 'bottle', 'pr': 300, 'qn': 1},
 '1020': {'name': 'earphone', 'pr': 499, 'qn': 2},
 '1021': {'name': 'iron', 'pr': 1600, 'qn': 1},
 '1022': {'name': 'mouse', 'pr': 5555, 'qn': 20},
 '1023': {'name': 'wiper', 'pr': 4000, 'qn': 12},
 '1024': {'name': 'phone', 'pr': 10000, 'qn': 33},
 '1025': {'name': 'shirt', 'pr': 8000, 'qn': 20},
 '1026': {'name': 'table', 'pr': 15000, 'qn': 25},
 '1027': {'name': 'perfume', 'pr': 6000, 'qn': 30},
 '1028': {'name': 'handwash', 'pr': 5000, 'qn': 45},
 '1029': {'name': 'sheets', 'pr': 400, 'qn': 20},
 '1030': {'name': 'backcover', 'pr': 500, 'qn': 60}}

In [ ]:
del record['1003']

In [22]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 5},
 '1010': {'name': 'fruit', 'pr': 1200, 'qn': 5},
 '1011': {'name': 'sweep', 'pr': 500, 'qn': 7},
 '1012': {'name': 'soap', 'pr': 350, 'qn': 10},
 '1013': {'name': 'brush', 'pr': 520, 'qn': 10},
 '1014': {'name': 'matress', 'pr': 3000, 'qn': 2},
 '1015': {'name': 'blanket', 'pr': 1500, 'qn': 1},
 '1016': {'name': 'shoes', 'pr': 1600, 'qn': 1},
 '1017': {'name': 'flour', 'pr': 299, 'qn': 1},
 '1018': {'name': 't-shirt', 'pr': 600, 'qn': 7},
 '1019': {'name': 'bottle', 'pr': 300, 'qn': 1},
 '1020': {'name': 'earphone', 'pr': 499, 'qn': 2},
 '1021': {'name': 'iron', 'pr': 1600, 'qn': 1},
 '1022': {'name': 'mouse', 'pr': 5555, 'qn': 20},
 '1023': {'name': 'wiper', 'pr': 4000, 'qn': 12},
 '1024': {'name': 'phone', 'pr': 10000, 'qn': 33},
 '1025': {'name': 'shirt', 'pr': 8000, 'qn': 20},
 '1026': {'name': 'table', 'pr': 15000, 'qn': 25},
 '1027': {'name': 'perfume', 'pr': 6000, 'qn': 30},
 '1028': {'name': 'handwash', 'pr': 5000, 'qn': 45},
 '1029': {'name': 'sheets', 'pr': 400, 'qn': 20},
 '1030': {'name': 'backcover', 'pr': 500, 'qn': 60}}